/Vinculacion-war/dist/
/build/
/Vinculacion-ejb/build/
/Vinculacion-ejb/dist/
/Vinculacion-war/build/
/dist/
/NVinculacion-ejb/nbproject/private/
/MVinculacion-ejb/nbproject/private/
/MVinculacion-war/nbproject/private/